<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Our Platform, <%= @user.email %>!</h1>
    <p>OTP for RR Tournament is <%= @user.otp %></p>
  </body>
</html>
