<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Welcome to Our Platform, <%= @email %>!</p>
    <p>OTP for RR Tournament is <b><%= @otp %></b></p>
  </body>
</html>
